



<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="es-AR" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="es-AR" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="es-AR" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="es-AR" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="es-AR"><!--<![endif]-->
<head>
    <!-- Start Visual Website Optimizer Asynchronous Code -->
<script type='text/javascript'>var _vwo_code=(function(){var account_id=46819,settings_tolerance=2000,library_tolerance=2500,use_existing_jquery=false,f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();</script>
<!-- End Visual Website Optimizer Asynchronous Code -->


<!-- Kissmetrics code -->
<script type="text/javascript">var _kmq=_kmq||[];var _kmk=_kmk||'a6f33261c1a922cf209eb70f118645bcff1f3ea0';function _kms(u){setTimeout(function(){var d=document,f=d.getElementsByTagName('script')[0],s=d.createElement('script');s.type='text/javascript';s.async=true;s.src=u;f.parentNode.insertBefore(s,f);},1);}
_kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/'+_kmk+'.1.js');</script>
<!-- END Kissmetrics code -->

    <meta charset="utf-8"><script type="text/javascript">(window.NREUM||(NREUM={})).loader_config={xpid:"VgAHWVZTGwcDVFdQAAM="};window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,function(e){var o=t[n][1][e];return r(o||e)},o,o.exports)}return e[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({QJf3ax:[function(t,e){function n(t){function e(e,n,a){t&&t(e,n,a),a||(a={});for(var c=s(e),f=c.length,u=i(a,o,r),d=0;f>d;d++)c[d].apply(u,n);return u}function a(t,e){f[t]=s(t).concat(e)}function s(t){return f[t]||[]}function c(){return n(e)}var f={};return{on:a,emit:e,create:c,listeners:s,_events:f}}function r(){return{}}var o="nr@context",i=t("gos");e.exports=n()},{gos:"7eSDFh"}],ee:[function(t,e){e.exports=t("QJf3ax")},{}],3:[function(t){function e(t){try{i.console&&console.log(t)}catch(e){}}var n,r=t("ee"),o=t(1),i={};try{n=localStorage.getItem("__nr_flags").split(","),console&&"function"==typeof console.log&&(i.console=!0,-1!==n.indexOf("dev")&&(i.dev=!0),-1!==n.indexOf("nr_dev")&&(i.nrDev=!0))}catch(a){}i.nrDev&&r.on("internal-error",function(t){e(t.stack)}),i.dev&&r.on("fn-err",function(t,n,r){e(r.stack)}),i.dev&&(e("NR AGENT IN DEVELOPMENT MODE"),e("flags: "+o(i,function(t){return t}).join(", ")))},{1:24,ee:"QJf3ax"}],4:[function(t){function e(t,e,n,i,s){try{c?c-=1:r("err",[s||new UncaughtException(t,e,n)])}catch(f){try{r("ierr",[f,(new Date).getTime(),!0])}catch(u){}}return"function"==typeof a?a.apply(this,o(arguments)):!1}function UncaughtException(t,e,n){this.message=t||"Uncaught error with no additional information",this.sourceURL=e,this.line=n}function n(t){r("err",[t,(new Date).getTime()])}var r=t("handle"),o=t(6),i=t("ee"),a=window.onerror,s=!1,c=0;t("loader").features.err=!0,t(5),window.onerror=e;try{throw new Error}catch(f){"stack"in f&&(t(1),t(2),"addEventListener"in window&&t(3),window.XMLHttpRequest&&XMLHttpRequest.prototype&&XMLHttpRequest.prototype.addEventListener&&window.XMLHttpRequest&&XMLHttpRequest.prototype&&XMLHttpRequest.prototype.addEventListener&&!/CriOS/.test(navigator.userAgent)&&t(4),s=!0)}i.on("fn-start",function(){s&&(c+=1)}),i.on("fn-err",function(t,e,r){s&&(this.thrown=!0,n(r))}),i.on("fn-end",function(){s&&!this.thrown&&c>0&&(c-=1)}),i.on("internal-error",function(t){r("ierr",[t,(new Date).getTime(),!0])})},{1:11,2:10,3:8,4:12,5:3,6:25,ee:"QJf3ax",handle:"D5DuLP",loader:"G9z0Bl"}],5:[function(t){if(window.addEventListener){var e=t("handle"),n=t("ee");t(1),window.addEventListener("click",function(){e("inc",["ck"])},!1),window.addEventListener("hashchange",function(){e("inc",["hc"])},!1),n.on("pushState-start",function(){e("inc",["ps"])})}},{1:9,ee:"QJf3ax",handle:"D5DuLP"}],6:[function(t){t("loader").features.ins=!0},{loader:"G9z0Bl"}],7:[function(t){function e(){}if(window.performance&&window.performance.timing&&window.performance.getEntriesByType){var n=t("ee"),r=t("handle"),o=t(1),i=t(2);t("loader").features.stn=!0,t(3);var a=Event;n.on("fn-start",function(t){var e=t[0];e instanceof a&&(this.bstStart=Date.now())}),n.on("fn-end",function(t,e){var n=t[0];n instanceof a&&r("bst",[n,e,this.bstStart,Date.now()])}),o.on("fn-start",function(t,e,n){this.bstStart=Date.now(),this.bstType=n}),o.on("fn-end",function(t,e){r("bstTimer",[e,this.bstStart,Date.now(),this.bstType])}),i.on("fn-start",function(){this.bstStart=Date.now()}),i.on("fn-end",function(t,e){r("bstTimer",[e,this.bstStart,Date.now(),"requestAnimationFrame"])}),n.on("pushState-start",function(){this.time=Date.now(),this.startPath=location.pathname+location.hash}),n.on("pushState-end",function(){r("bstHist",[location.pathname+location.hash,this.startPath,this.time])}),"addEventListener"in window.performance&&(window.performance.addEventListener("webkitresourcetimingbufferfull",function(){r("bstResource",[window.performance.getEntriesByType("resource")]),window.performance.webkitClearResourceTimings()},!1),window.performance.addEventListener("resourcetimingbufferfull",function(){r("bstResource",[window.performance.getEntriesByType("resource")]),window.performance.clearResourceTimings()},!1)),document.addEventListener("scroll",e,!1),document.addEventListener("keypress",e,!1),document.addEventListener("click",e,!1)}},{1:11,2:10,3:9,ee:"QJf3ax",handle:"D5DuLP",loader:"G9z0Bl"}],8:[function(t,e){function n(t){i.inPlace(t,["addEventListener","removeEventListener"],"-",r)}function r(t){return t[1]}var o=t("ee").create(),i=t(1)(o),a=t("gos");if(e.exports=o,n(window),"getPrototypeOf"in Object){for(var s=document;s&&!s.hasOwnProperty("addEventListener");)s=Object.getPrototypeOf(s);s&&n(s);for(var c=XMLHttpRequest.prototype;c&&!c.hasOwnProperty("addEventListener");)c=Object.getPrototypeOf(c);c&&n(c)}else XMLHttpRequest.prototype.hasOwnProperty("addEventListener")&&n(XMLHttpRequest.prototype);o.on("addEventListener-start",function(t,e){function n(){return s}if(t[1]){var r=t[1];if("function"==typeof r){var s=a(r,"nr@wrapped",function(){return i(r,"fn-",n,r.name||"anonymous")});this.wrapped=t[1]=s,o.emit("initEventContext",[t,e],this.wrapped)}else"function"==typeof r.handleEvent&&i.inPlace(r,["handleEvent"],"fn-")}}),o.on("removeEventListener-start",function(t){var e=this.wrapped;e&&(t[1]=e)})},{1:26,ee:"QJf3ax",gos:"7eSDFh"}],9:[function(t,e){var n=t("ee").create(),r=t(1)(n);e.exports=n,r.inPlace(window.history,["pushState","replaceState"],"-")},{1:26,ee:"QJf3ax"}],10:[function(t,e){var n=t("ee").create(),r=t(1)(n);e.exports=n,r.inPlace(window,["requestAnimationFrame","mozRequestAnimationFrame","webkitRequestAnimationFrame","msRequestAnimationFrame"],"raf-"),n.on("raf-start",function(t){t[0]=r(t[0],"fn-")})},{1:26,ee:"QJf3ax"}],11:[function(t,e){function n(t,e,n){t[0]=i(t[0],"fn-",null,n)}function r(t,e,n){function r(){return a}this.ctx={};var a={"nr@context":this.ctx};o.emit("initTimerContext",[t,n],a),t[0]=i(t[0],"fn-",r,n)}var o=t("ee").create(),i=t(1)(o);e.exports=o,i.inPlace(window,["setTimeout","setImmediate"],"setTimer-"),i.inPlace(window,["setInterval"],"setInterval-"),i.inPlace(window,["clearTimeout","clearImmediate"],"clearTimeout-"),o.on("setInterval-start",n),o.on("setTimer-start",r)},{1:26,ee:"QJf3ax"}],12:[function(t,e){function n(){f.inPlace(this,p,"fn-",o)}function r(t,e){f.inPlace(e,["onreadystatechange"],"fn-")}function o(t,e){return e}function i(t,e){for(var n in t)e[n]=t[n];return e}var a=t("ee").create(),s=t(1),c=t(2),f=c(a),u=c(s),d=window.XMLHttpRequest,p=["onload","onerror","onabort","onloadstart","onloadend","onprogress","ontimeout"];e.exports=a,window.XMLHttpRequest=function(t){var e=new d(t);try{a.emit("new-xhr",[],e),e.hasOwnProperty("addEventListener")&&u.inPlace(e,["addEventListener","removeEventListener"],"-",o),e.addEventListener("readystatechange",n,!1)}catch(r){try{a.emit("internal-error",[r])}catch(i){}}return e},i(d,XMLHttpRequest),XMLHttpRequest.prototype=d.prototype,f.inPlace(XMLHttpRequest.prototype,["open","send"],"-xhr-",o),a.on("send-xhr-start",r),a.on("open-xhr-start",r)},{1:8,2:26,ee:"QJf3ax"}],13:[function(t){function e(t){var e=this.params,r=this.metrics;if(!this.ended){this.ended=!0;for(var i=0;c>i;i++)t.removeEventListener(s[i],this.listener,!1);if(!e.aborted){if(r.duration=(new Date).getTime()-this.startTime,4===t.readyState){e.status=t.status;var a=t.responseType,f="arraybuffer"===a||"blob"===a||"json"===a?t.response:t.responseText,u=n(f);if(u&&(r.rxSize=u),this.sameOrigin){var d=t.getResponseHeader("X-NewRelic-App-Data");d&&(e.cat=d.split(", ").pop())}}else e.status=0;r.cbTime=this.cbTime,o("xhr",[e,r,this.startTime])}}}function n(t){if("string"==typeof t&&t.length)return t.length;if("object"!=typeof t)return void 0;if("undefined"!=typeof ArrayBuffer&&t instanceof ArrayBuffer&&t.byteLength)return t.byteLength;if("undefined"!=typeof Blob&&t instanceof Blob&&t.size)return t.size;if("undefined"!=typeof FormData&&t instanceof FormData)return void 0;try{return JSON.stringify(t).length}catch(e){return void 0}}function r(t,e){var n=i(e),r=t.params;r.host=n.hostname+":"+n.port,r.pathname=n.pathname,t.sameOrigin=n.sameOrigin}if(window.XMLHttpRequest&&XMLHttpRequest.prototype&&XMLHttpRequest.prototype.addEventListener&&!/CriOS/.test(navigator.userAgent)){t("loader").features.xhr=!0;var o=t("handle"),i=t(2),a=t("ee"),s=["load","error","abort","timeout"],c=s.length,f=t(1),u=window.XMLHttpRequest;t(4),t(3),a.on("new-xhr",function(){this.totalCbs=0,this.called=0,this.cbTime=0,this.end=e,this.ended=!1,this.xhrGuids={}}),a.on("open-xhr-start",function(t){this.params={method:t[0]},r(this,t[1]),this.metrics={}}),a.on("open-xhr-end",function(t,e){"loader_config"in NREUM&&"xpid"in NREUM.loader_config&&this.sameOrigin&&e.setRequestHeader("X-NewRelic-ID",NREUM.loader_config.xpid)}),a.on("send-xhr-start",function(t,e){var r=this.metrics,o=t[0],i=this;if(r&&o){var f=n(o);f&&(r.txSize=f)}this.startTime=(new Date).getTime(),this.listener=function(t){try{"abort"===t.type&&(i.params.aborted=!0),("load"!==t.type||i.called===i.totalCbs&&(i.onloadCalled||"function"!=typeof e.onload))&&i.end(e)}catch(n){try{a.emit("internal-error",[n])}catch(r){}}};for(var u=0;c>u;u++)e.addEventListener(s[u],this.listener,!1)}),a.on("xhr-cb-time",function(t,e,n){this.cbTime+=t,e?this.onloadCalled=!0:this.called+=1,this.called!==this.totalCbs||!this.onloadCalled&&"function"==typeof n.onload||this.end(n)}),a.on("xhr-load-added",function(t,e){var n=""+f(t)+!!e;this.xhrGuids&&!this.xhrGuids[n]&&(this.xhrGuids[n]=!0,this.totalCbs+=1)}),a.on("xhr-load-removed",function(t,e){var n=""+f(t)+!!e;this.xhrGuids&&this.xhrGuids[n]&&(delete this.xhrGuids[n],this.totalCbs-=1)}),a.on("addEventListener-end",function(t,e){e instanceof u&&"load"===t[0]&&a.emit("xhr-load-added",[t[1],t[2]],e)}),a.on("removeEventListener-end",function(t,e){e instanceof u&&"load"===t[0]&&a.emit("xhr-load-removed",[t[1],t[2]],e)}),a.on("fn-start",function(t,e,n){e instanceof u&&("onload"===n&&(this.onload=!0),("load"===(t[0]&&t[0].type)||this.onload)&&(this.xhrCbStart=(new Date).getTime()))}),a.on("fn-end",function(t,e){this.xhrCbStart&&a.emit("xhr-cb-time",[(new Date).getTime()-this.xhrCbStart,this.onload,e],e)})}},{1:"XL7HBI",2:14,3:12,4:8,ee:"QJf3ax",handle:"D5DuLP",loader:"G9z0Bl"}],14:[function(t,e){e.exports=function(t){var e=document.createElement("a"),n=window.location,r={};e.href=t,r.port=e.port;var o=e.href.split("://");return!r.port&&o[1]&&(r.port=o[1].split("/")[0].split("@").pop().split(":")[1]),r.port&&"0"!==r.port||(r.port="https"===o[0]?"443":"80"),r.hostname=e.hostname||n.hostname,r.pathname=e.pathname,r.protocol=o[0],"/"!==r.pathname.charAt(0)&&(r.pathname="/"+r.pathname),r.sameOrigin=!e.hostname||e.hostname===document.domain&&e.port===n.port&&e.protocol===n.protocol,r}},{}],15:[function(t,e){function n(t){return function(){r(t,[(new Date).getTime()].concat(i(arguments)))}}var r=t("handle"),o=t(1),i=t(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(t,e){window.NREUM[e]=n("api-"+e)}),e.exports=window.NREUM},{1:24,2:25,handle:"D5DuLP"}],gos:[function(t,e){e.exports=t("7eSDFh")},{}],"7eSDFh":[function(t,e){function n(t,e,n){if(r.call(t,e))return t[e];var o=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(t,e,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return t[e]=o,o}var r=Object.prototype.hasOwnProperty;e.exports=n},{}],D5DuLP:[function(t,e){function n(t,e,n){return r.listeners(t).length?r.emit(t,e,n):void(r.q&&(r.q[t]||(r.q[t]=[]),r.q[t].push(e)))}var r=t("ee").create();e.exports=n,n.ee=r,r.q={}},{ee:"QJf3ax"}],handle:[function(t,e){e.exports=t("D5DuLP")},{}],XL7HBI:[function(t,e){function n(t){var e=typeof t;return!t||"object"!==e&&"function"!==e?-1:t===window?0:i(t,o,function(){return r++})}var r=1,o="nr@id",i=t("gos");e.exports=n},{gos:"7eSDFh"}],id:[function(t,e){e.exports=t("XL7HBI")},{}],G9z0Bl:[function(t,e){function n(){var t=p.info=NREUM.info,e=f.getElementsByTagName("script")[0];if(t&&t.licenseKey&&t.applicationID&&e){s(d,function(e,n){e in t||(t[e]=n)});var n="https"===u.split(":")[0]||t.sslForHttp;p.proto=n?"https://":"http://",a("mark",["onload",i()]);var r=f.createElement("script");r.src=p.proto+t.agent,e.parentNode.insertBefore(r,e)}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=t("handle"),s=t(1),c=window,f=c.document;t(2);var u=(""+location).split("?")[0],d={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-768.min.js"},p=e.exports={offset:i(),origin:u,features:{}};f.addEventListener?(f.addEventListener("DOMContentLoaded",o,!1),c.addEventListener("load",n,!1)):(f.attachEvent("onreadystatechange",r),c.attachEvent("onload",n)),a("mark",["firstbyte",i()])},{1:24,2:15,handle:"D5DuLP"}],loader:[function(t,e){e.exports=t("G9z0Bl")},{}],24:[function(t,e){function n(t,e){var n=[],o="",i=0;for(o in t)r.call(t,o)&&(n[i]=e(o,t[o]),i+=1);return n}var r=Object.prototype.hasOwnProperty;e.exports=n},{}],25:[function(t,e){function n(t,e,n){e||(e=0),"undefined"==typeof n&&(n=t?t.length:0);for(var r=-1,o=n-e||0,i=Array(0>o?0:o);++r<o;)i[r]=t[e+r];return i}e.exports=n},{}],26:[function(t,e){function n(t){return!(t&&"function"==typeof t&&t.apply&&!t[i])}var r=t("ee"),o=t(1),i="nr@original",a=Object.prototype.hasOwnProperty;e.exports=function(t){function e(t,e,r,a){function nrWrapper(){var n,i,s,f;try{i=this,n=o(arguments),s=r&&r(n,i)||{}}catch(d){u([d,"",[n,i,a],s])}c(e+"start",[n,i,a],s);try{return f=t.apply(i,n)}catch(p){throw c(e+"err",[n,i,p],s),p}finally{c(e+"end",[n,i,f],s)}}return n(t)?t:(e||(e=""),nrWrapper[i]=t,f(t,nrWrapper),nrWrapper)}function s(t,r,o,i){o||(o="");var a,s,c,f="-"===o.charAt(0);for(c=0;c<r.length;c++)s=r[c],a=t[s],n(a)||(t[s]=e(a,f?s+o:o,i,s))}function c(e,n,r){try{t.emit(e,n,r)}catch(o){u([o,e,n,r])}}function f(t,e){if(Object.defineProperty&&Object.keys)try{var n=Object.keys(t);return n.forEach(function(n){Object.defineProperty(e,n,{get:function(){return t[n]},set:function(e){return t[n]=e,e}})}),e}catch(r){u([r])}for(var o in t)a.call(t,o)&&(e[o]=t[o]);return e}function u(e){try{t.emit("internal-error",e)}catch(n){}}return t||(t=r),e.inPlace=s,e.flag=i,e}},{1:25,ee:"QJf3ax"}]},{},["G9z0Bl",4,13,7,6,5]);</script> 

    <meta name="robots" content="noindex,nofollow"/>
    <title>Formulario de pago con tarjeta de crédito</title>
    <link href="{{ absoluteUrl }}/css/at-base-rules.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/style.css" rel="stylesheet" type="text/css" media="screen"/>
     <link href="{{ absoluteUrl }}/css/jquery.qtip.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/js/jquery-cluetip/jquery.cluetip.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-reset.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-layout-rules.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-header.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-buttons.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-search-box.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-carousel.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-checkout.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-faq.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-system-messages.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-misc.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-overlays.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-packages.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-payment-methods.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-financiacion.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-flights.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-flights-filters.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-widgets.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-matriz-vuelos.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-hotels.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-hotels-autocomplete.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-landings.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-encuesta.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="{{ absoluteUrl }}/css/at-desambiguador.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- <link href="{{ absoluteUrl }}/css/autos.css" rel="stylesheet" type="text/css" media="screen" /> -->
    <link href="{{ absoluteUrl }}/css/screen-original.css" rel="stylesheet" type="text/css" media="screen"/>

        <script type="text/javascript" src="{{ absoluteUrl }}/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/ui/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/ui/i18n/jquery.ui.datepicker-es.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/ui/jquery.ui.position.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/ui/jquery.ui.autocomplete.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/ui/jquery.ui.tooltip.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/ui/jquery.ui.accordion.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/main.js?v=3"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/enhanced-ecommerce.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/jquery-cluetip/jquery.cluetip.all.min.js"></script>
	<script type="text/javascript" src="{{ absoluteUrl }}/js/jquery.infinitecarousel3.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="{{ absoluteUrl }}/js/jquery.qtip.min.js"></script>
</head>

<body id="checkout" class="checkoutSSL">
<!-- Google Tag Manager --> 
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-X5CB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-X5CB');</script> 
<!-- End Google Tag Manager -->
<!-- Pixel Perfect Audience -->
<script type="text/javascript">(function(){window._pa=window._pa||{};var pa=document.createElement('script');pa.type='text/javascript';pa.async=true;pa.src=('https:'==document.location.protocol?'https:':'http:')+"//tag.perfectaudience.com/serve/51a4c892c0225a79ff00005a.js";var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(pa,s);})();</script>
<!-- END Pixel Perfect Audience -->
<!-- container -->
<div id="container">

<script type="text/javascript">setTimeout(function(){var a=document.createElement("script");var b=document.getElementsByTagName("script")[0];a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/1875.js?"+Math.floor(new Date().getTime()/3600000);a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)},1);</script>
<!-- header -->
<header id="header">
  <div class="content" itemscope itemtype="http://schema.org/Organization">
    <h1 class="logo">
      <a itemprop="url" title="Avantrip" href="http://www.avantrip.com/"><img itemprop="logo" src="{{ absoluteUrl }}/img/ui/logo.png" alt="Avantrip | Su agencia de viajes en Internet"/></a>
    </h1>
    <div itemprop="potentialAction" class="slogan">
      Hasta donde quieras llegar.
    </div>
    <div class="call-us">
      <p itemprop="telephone" class="phone-number">0810-222-2826</p>
      <a class="necesitas" href="/preguntas-frecuentes" title="Preguntas Frecuentes" target="_blank">¿Necesitás ayuda?</a>
    </div>

<ul class="socials l-inline">
  <li><g:plusone href="http://www.avantrip.com" size="medium"></g:plusone></li>
  <li>
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Favantrip&amp;send=false&amp;layout=button_count&amp;width=140&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:140px; height:21px;" allowTransparency="true"></iframe>
  </li>
</ul>
</div>
<nav class="nav navegador">
  <div class="content">
    <ul id="nav">
      <li class="menu-responsive">
        <a href="#"><i class="fa fa-bars"></i> Menú </a>
      </li>
      <li class="active"><a href="http://www.avantrip.com/" class="active"><span class="icon-header vuelo"></span>Vuelos</a></li>
      <li><a href=http://www.avantrip.com/hoteles><span class="icon-header hotel"></span>Hoteles</a></li>
      <li><a href="http://www.avantrip.com/paquetes"><span class="icon-header paquete"></span>Paquetes</a></li>
	    <li><a href="http://www.avantrip.com/autos/"><span class="icon-header auto"></span>Autos</a></li>
      <li><a href="http://pasesdisney.avantrip.com/"><span class="icon-header disney"></span>Pases Disney</a></li>
      <li><a href="http://avantrip.com/cruceros/"><span class="icon-header cruceros"></span>Cruceros</a></li>
    </ul>
  </div>
  <div class="nav-indicator"></div>
</nav>
</header>
<!-- /header -->

<script>currencyTable={"ARS":{"code":"ARS","name":"Pesos Arg","symbol":"AR$","conversion":"9.690","visible":"1"},"EUR":{"code":"EUR","name":"Euro","symbol":"&euro;","conversion":"150.000","visible":"1"},"USD":{"code":"USD","name":"Dolares","symbol":"U$D","conversion":"1.000","visible":"1"},"BRL":{"code":"BRL","name":"Reales","symbol":"R$","conversion":"1.890","visible":"1"},"CLP":{"code":"CLP","name":"Pesos Chi","symbol":"CL$","conversion":"542.020","visible":"0"},"GBP":{"code":"GBP","name":"Libras Ing","symbol":"&pound;","conversion":"0.629","visible":"0"},"MXN":{"code":"MXN","name":"Pesos Mex","symbol":"MX$","conversion":"13.492","visible":"0"},"UYU":{"code":"UYU","name":"Pesos Uru","symbol":"UR$","conversion":"13.492","visible":"0"},"CAD":{"code":"CAD","name":"Dolares Can","symbol":"CAD","conversion":"1.003","visible":"0"},"CNY":{"code":"CNY","name":"China","symbol":"CNY","conversion":"6.830","visible":"0"},"AFN":{"code":"AFN","name":" Afghanistan Afg","symbol":"AFN","conversion":"44.300","visible":"0"},"ALL":{"code":"ALL","name":" Albania Leke","symbol":"ALL","conversion":"107.820","visible":"0"},"DZD":{"code":"DZD","name":" Algeria Dinars","symbol":"DZD","conversion":"75.330","visible":"0"},"AUD":{"code":"AUD","name":" Australia Dolla","symbol":"AUD","conversion":"1.088","visible":"0"},"BSD":{"code":"BSD","name":" Bahamas Dollars","symbol":"BSD","conversion":"1.000","visible":"0"},"BHD":{"code":"BHD","name":" Bahrain Dinars","symbol":"BHD","conversion":"0.377","visible":"0"},"BDT":{"code":"BDT","name":" Bangladesh Taka","symbol":"BDT","conversion":"69.250","visible":"0"},"BBD":{"code":"BBD","name":" Barbados Dollar","symbol":"BBD","conversion":"2.000","visible":"0"},"BMD":{"code":"BMD","name":" Bermuda Dollars","symbol":"BMD","conversion":"1.000","visible":"0"},"BGN":{"code":"BGN","name":" Bulgaria Leva","symbol":"BGN","conversion":"1.536","visible":"0"},"XOF":{"code":"XOF","name":" CFA Francs BCEA","symbol":"XOF","conversion":"515.231","visible":"0"},"XAF":{"code":"XAF","name":" CFA Francs BEAC","symbol":"XAF","conversion":"515.231","visible":"0"},"XPF":{"code":"XPF","name":" CFP Francs","symbol":"XPF","conversion":"93.731","visible":"0"},"COP":{"code":"COP","name":" Colombia Pesos","symbol":"COP","conversion":"1.000","visible":"0"},"CRC":{"code":"CRC","name":" Costa Rica Colo","symbol":"CRC","conversion":"513.700","visible":"0"},"HRK":{"code":"HRK","name":" Croatia Kuna","symbol":"HRK","conversion":"5.726","visible":"0"},"CYP":{"code":"CYP","name":" Cyprus Pounds","symbol":"CYP","conversion":"0.460","visible":"0"},"CZK":{"code":"CZK","name":" Czech Republic ","symbol":"CZK","conversion":"19.392","visible":"0"},"DKK":{"code":"DKK","name":" Denmark Kroner","symbol":"DKK","conversion":"5.848","visible":"0"},"DOP":{"code":"DOP","name":" Dominican Repub","symbol":"DOP","conversion":"36.550","visible":"0"},"XCD":{"code":"XCD","name":" East Caribbean ","symbol":"XCD","conversion":"2.685","visible":"0"},"EGP":{"code":"EGP","name":" Egypt Pounds","symbol":"EGP","conversion":"5.707","visible":"0"},"EEK":{"code":"EEK","name":" Estonia Krooni","symbol":"EEK","conversion":"12.290","visible":"0"},"FJD":{"code":"FJD","name":" Fiji Dollars","symbol":"FJD","conversion":"1.935","visible":"0"},"XAU":{"code":"XAU","name":" Gold Ounces","symbol":"XAU","conversion":"0.001","visible":"0"},"HKD":{"code":"HKD","name":" Hong Kong Dolla","symbol":"HKD","conversion":"7.769","visible":"0"},"HUF":{"code":"HUF","name":" Hungary Forint","symbol":"HUF","conversion":"225.374","visible":"0"},"ISK":{"code":"ISK","name":" Iceland Kronur","symbol":"ISK","conversion":"117.960","visible":"0"},"XDR":{"code":"XDR","name":" IMF Special Dra","symbol":"XDR","conversion":"0.661","visible":"0"},"INR":{"code":"INR","name":" India Rupees","symbol":"INR","conversion":"46.493","visible":"0"},"IDR":{"code":"IDR","name":" Indonesia Rupia","symbol":"IDR","conversion":"9.000","visible":"0"},"IRR":{"code":"IRR","name":" Iran Rials","symbol":"IRR","conversion":"10.000","visible":"0"},"IQD":{"code":"IQD","name":" Iraq Dinars","symbol":"IQD","conversion":"1.000","visible":"0"},"ILS":{"code":"ILS","name":" Israel New Shek","symbol":"ILS","conversion":"3.775","visible":"0"},"JMD":{"code":"JMD","name":" Jamaica Dollars","symbol":"JMD","conversion":"85.150","visible":"0"},"JPY":{"code":"JPY","name":" Japan Yen","symbol":"JPY","conversion":"83.950","visible":"0"},"JOD":{"code":"JOD","name":" Jordan Dinars","symbol":"JOD","conversion":"0.709","visible":"0"},"KZT":{"code":"KZT","name":" Kazakhstan Teng","symbol":"KZT","conversion":"147.425","visible":"0"},"KES":{"code":"KES","name":" Kenya Shillings","symbol":"KES","conversion":"81.200","visible":"0"},"KWD":{"code":"KWD","name":" Kuwait Dinars","symbol":"KWD","conversion":"0.288","visible":"0"},"LBP":{"code":"LBP","name":" Lebanon Pounds","symbol":"LBP","conversion":"1.000","visible":"0"},"MYR":{"code":"MYR","name":" Malaysia Ringgi","symbol":"MYR","conversion":"3.111","visible":"0"},"MTL":{"code":"MTL","name":" Malta Liri","symbol":"MTL","conversion":"0.337","visible":"0"},"MUR":{"code":"MUR","name":" Mauritius Rupee","symbol":"MUR","conversion":"30.700","visible":"0"},"MAD":{"code":"MAD","name":" Morocco Dirhams","symbol":"MAD","conversion":"8.695","visible":"0"},"NZD":{"code":"NZD","name":" New Zealand Dol","symbol":"NZD","conversion":"1.382","visible":"0"},"NGN":{"code":"NGN","name":" Nigeria Nairas","symbol":"NGN","conversion":"151.750","visible":"0"},"NOK":{"code":"NOK","name":" Norway Kroner","symbol":"NOK","conversion":"6.188","visible":"0"},"OMR":{"code":"OMR","name":" Oman Rials","symbol":"OMR","conversion":"0.385","visible":"0"},"PKR":{"code":"PKR","name":" Pakistan Rupees","symbol":"PKR","conversion":"85.710","visible":"0"},"XPD":{"code":"XPD","name":" Palladium Ounce","symbol":"XPD","conversion":"0.002","visible":"0"},"PEN":{"code":"PEN","name":" Peru Nuevos Sol","symbol":"PEN","conversion":"2.798","visible":"0"},"PHP":{"code":"PHP","name":" Philippines Pes","symbol":"PHP","conversion":"44.300","visible":"0"},"XPT":{"code":"XPT","name":" Platinum Ounces","symbol":"XPT","conversion":"0.001","visible":"0"},"PLN":{"code":"PLN","name":" Poland Zlotych","symbol":"PLN","conversion":"3.094","visible":"0"},"QAR":{"code":"QAR","name":" Qatar Riyals","symbol":"QAR","conversion":"3.641","visible":"0"},"RON":{"code":"RON","name":" Romania New Lei","symbol":"RON","conversion":"3.366","visible":"0"},"RUB":{"code":"RUB","name":" Russia Rubles","symbol":"RUB","conversion":"30.842","visible":"0"},"SAR":{"code":"SAR","name":" Saudi Arabia Ri","symbol":"SAR","conversion":"3.750","visible":"0"},"XAG":{"code":"XAG","name":" Silver Ounces","symbol":"XAG","conversion":"0.050","visible":"0"},"SGD":{"code":"SGD","name":" Singapore Dolla","symbol":"SGD","conversion":"1.343","visible":"0"},"ZAR":{"code":"ZAR","name":" South Africa Ra","symbol":"ZAR","conversion":"7.220","visible":"0"},"KRW":{"code":"KRW","name":" South Korea Won","symbol":"KRW","conversion":"1.000","visible":"0"},"LKR":{"code":"LKR","name":" Sri Lanka Rupee","symbol":"LKR","conversion":"112.555","visible":"0"},"SDG":{"code":"SDG","name":" Sudan Pounds","symbol":"SDG","conversion":"2.365","visible":"0"},"SEK":{"code":"SEK","name":" Sweden Kronor","symbol":"SEK","conversion":"7.272","visible":"0"},"CHF":{"code":"CHF","name":" Switzerland Fra","symbol":"CHF","conversion":"1.011","visible":"0"},"TWD":{"code":"TWD","name":" Taiwan New Doll","symbol":"TWD","conversion":"32.000","visible":"0"},"THB":{"code":"THB","name":" Thailand Baht","symbol":"THB","conversion":"31.015","visible":"0"},"TTD":{"code":"TTD","name":" Trinidad and To","symbol":"TTD","conversion":"6.350","visible":"0"},"TND":{"code":"TND","name":" Tunisia Dinars","symbol":"TND","conversion":"1.489","visible":"0"},"TRY":{"code":"TRY","name":" Turkey Lira","symbol":"TRY","conversion":"1.515","visible":"0"},"AED":{"code":"AED","name":" United Arab Emi","symbol":"AED","conversion":"3.673","visible":"0"},"VEF":{"code":"VEF","name":" Venezuela Boliv","symbol":"VEF","conversion":"4.300","visible":"0"},"VND":{"code":"VND","name":" Vietnam Dong","symbol":"VND","conversion":"19.000","visible":"0"},"ZMK":{"code":"ZMK","name":" Zambia Kwacha","symbol":"ZMK","conversion":"4.000","visible":"0"}};</script>

<script type="text/javascript" src="{{ absoluteUrl }}/js/header.js"></script>

<!-- content -->
<div id="content">
  <!-- parent -->
  <div id="parent" class="module inside ssl">
  
        
    
  	{{ form_start(form) }}
    
    <div id="credit-card-resume">
    	<ul>
		<h3 class="heading">&iquest;En cu&aacute;ntas cuotas prefer&iacute;s realizar tu pago?</h3>
    	<li>
    		<label>Banco emisor</label>
	          {{ form_widget(form.banco) }}
    	</li>
        <li>
        	<label>Tarjeta de crédito</label>
	          {{ form_widget(form.card) }}
                    </li>
        <li>
			        	<label>Cantidad de cuotas</label>
			<div id="pays">
				<label class="checked"><input type="radio" name="card[cuotas]" value="1" checked="checked"/>1 cuota de AR$ {{ fecha.precio*pasajeros }}</label>
							</div>
        </li>
        <li>
        			</li>
        <li id="cuota-precio"><label>Valor por cuota</label> <span class="right">AR$ <span id="field-cuota-card">{{ fecha.precio*pasajeros }}</span></span></li>    
      </ul>
      <div id="mensaje-gestion" style="width:600px;"></div>
    </div>
    
	<input type="hidden" class="_buy" name="_buy" value="1"/>
	
    	
	<div class="datos-titular">
    	<fieldset class="credit-card-passenger">
      	<legend>Por favor indicanos los datos de la tarjeta</legend>        
	    	<ul>
	    	<li class="credit-card-number">
	          	<label>Número de la tarjeta</label>
	          	{{ form_widget(form.numerotarjeta) }}
                  {% if ( errores_checkout['numerotarjeta'] is defined ) %}
                    <div class="error ltr active">
                      <span class="left"></span><span class="right">{{errores_checkout['numerotarjeta']}}
                      </span>
                    </div>
                  {% endif %}
          	</li>
  	    	<li class="name">
	          	<label>Nombre y apellido</label>
	          	{{ form_widget(form.nomape) }}
                  {% if ( errores_checkout['nomape'] is defined ) %}
                    <div class="error ltr active">
                      <span class="left"></span><span class="right">{{errores_checkout['nomape']}}
                      </span>
                    </div>
                  {% endif %}
	      	</li>
           
		            <li class="expire">
          	<label>Vencimiento</label>
            <ul>
            	<li class="month">
					{{ form_widget(form.mesfechavenc) }}
              </li>
              <li class="year">
              	{{ form_widget(form.aniofechavenc) }}
              </li>
            </ul>
          </li>
          <li class="credit-card-code">
          	<label>Código de seguridad</label>
          	{{ form_widget(form.codigoseguridad) }}
            	
            <a href="/overlays/datos-tarjeta-de-credito.html" rel="/overlays/datos-tarjeta-de-credito.html" class="credit-card-code-help">¿Dónde encuentro estos datos?</a>
	          {% if ( errores_checkout['codigoseguridad'] is defined ) %}
	            <div class="error ltr active">
	              <span class="left"></span><span class="right">{{errores_checkout['codigoseguridad']}}
	              </span>
	            </div>
	          {% endif %}
          </li>
          
    	  </ul>
      </fieldset>
      
      <fieldset class="credit-card-address">
      	<legend>Por seguridad indicanos los datos del titular</legend>
	    	<ul>
		    	<li class="dni">
		          	<label>DNI</label>
		          	{{ form_widget(form.dnitit) }}
                  {% if ( errores_checkout['dnitit'] is defined ) %}
                    <div class="error ltr active">
                      <span class="left"></span><span class="right">{{errores_checkout['dnitit']}}
                      </span>
                    </div>
                  {% endif %}
	            </li>
	            
	            <li class="birth">
	          	<label>Fecha de nacimiento</label>
	            <ul>
	            	<li class="day">
	            		{{ form_widget(form.diafechanac) }}
	               </li>
	               <li class="month">
	               	{{ form_widget(form.mesfechanac) }}
	               </li>
	               <li class="year">
	               	{{ form_widget(form.aniofechanac) }}
	               </li>
	            </ul>
                  {% if ( errores_checkout['fechanac'] is defined ) %}
                    <div class="error ltr active">
                      <span class="left"></span><span class="right">{{ errores_checkout['fechanac'] }}
                      </span>
                    </div>
                  {% endif %}
	            	          </li>
	    
	  	    	<li class="street">
	          	<label>Domicilio</label>
	          	{{ form_widget(form.domiciliotit) }}
                  {% if ( errores_checkout['domiciliotit'] is defined ) %}
                    <div class="error ltr active">
                      <span class="left"></span><span class="right">{{errores_checkout['domiciliotit']}}
                      </span>
                    </div>
                  {% endif %}
	            	           </li>          
          
	           <li class="locality">
	          	<label>Ciudad</label>
	            {{ form_widget(form.ciudadtit) }}
                  {% if ( errores_checkout['ciudadtit'] is defined ) %}
                    <div class="error ltr active">
                      <span class="left"></span><span class="right">{{errores_checkout['ciudadtit']}}
                      </span>
                    </div>
                  {% endif %}
	            	           </li>

			  	          <li class="country">
	          	<label>País</label>
	          	{{ form_widget(form.paistit) }}
	          </li>
    	  </ul>
      <button type="submit" class="btn btn-primary callout securesite">Comprar</button>
      </fieldset>
	</div>
			
      <div class="security">
          <ul class="autentifications">
              <li>Avantrip.com es un sitio seguro. El almacenamiento y procesamiento de los datos se encuentran autentificados por Verisign y CertiSur (Certificado SSL).</li>
          </ul>
       </div>
    {{ form_end(form) }}
  </div>
  <!-- /parent -->  
  <!-- resume -->
	 
<script type="text/javascript" src="{{ absoluteUrl }}/js/resume_producto_cart.js"></script>
<div id="resume">
	<div class="module inside">
					<h2 class="heading primary">Mi resumen</h2>

		<h3 class="subheading">Precio en <strong>pesos argentinos</strong></h3>
		
		
							<div class="price hotel">
						<dl>
							<dt class="resumen">{{ pasajeros }} Pasajeros</dt>
							<dd class="resumen-precio">
								<em>AR$ </em>{{ pasajeros*fecha.precio }}							</dd>
													</dl>
						<div class="price-flight total">
							<span class="currency foreign">US$</span>
							<span class="amount foreign">{{ (pasajeros*fecha.precio/currencyPesos.conversion)|round(0,'ceil') }} / </span>
							<span class="currency ">AR$</span>
							<span class="amount ">{{ pasajeros*fecha.precio }}</span>
							<span class="price-total">Precio total</span>
						</div>
					</div>
					<p class="currency-exchange">
						<!--Tipo de cambio -->1 U$S = ${{ currencyPesos.conversion|number_format(2, ',', '.') }}</p>
					
					<div class="beneficio-promocionado">
						<h3 class="subheading">Detalle de tu compra</h3>
						<p><strong>{{ paquete.titulo }}</strong></p>
						<h4 class="heading">Desde:</h4>
						<p>{{ paquete.validoDesde|localizeddate('short', 'short')|date('d \\d\\e F \\d\\e\\l Y') }}</p>
						<p>{{ pasajeros }} pasajeros</p>
						<p>{{ paquete.descripcionCortaTitulo }}</p>
					</div>
					
							<p class="conditions">
					<a class="conditions ajax cboxElement" href="/overlays/condiciones-de-cambios.html">Cambios y devoluciones</a>
			</p>
		<!-- 
		<div id="price-details">
		<h4 class="heading">Qué incluye el precio?</h4>

		<ul>
		  <li>Los impuestos y los cargos.</li>
		  <li>Las tasas del aeropuerto de origen.</li>
		</ul>

		</div>
		-->
	</div>
</div>
  <!-- /resume -->
</div>
<!-- content -->
<!-- footer -->
<footer id="footer" itemscope itemtype="http://schema.org/TravelAgency">
    <div class="content">

        <div class="box memberships">  
            <div class="box-wrapper">
            <h3 class="heading"><span class="icon-footer respaldo"></span> Respaldo</h3>
            <ul class="logos">
                <li class="aaavyt"><a href="http://faevyt.org.ar/" target="_blank" title="Federación Argentina de Asociaciones de Empresas de Viajes y Turismo" itemprop="memberOf">Federación Argentina de Asociaciones de Empresas de Viajes y Turismo</a></li>
                <li class="aviabue"><a itemprop="memberOf" href="http://www.aviabue.org.ar/" target="_blank" title="Asociación de Agencias de Viajes y Turismo de Buenos Aires">Asociación de Agencias de Viajes y Turismo de Buenos Aires</a></li>
                <li class="tripadvisor" itemprop="memberOf">Ahora con reseñas de hoteles por</li>
            </ul>
            <div class="blog-xl">
                <p><a class="icon" itemprop="subOrganization" href="http://blog.avantrip.com/" target="_blank">blog.avantrip.com</a>blog de avantrip</p>
            </div>
            </div>
        </div>
        <!-- /box -->
        
        <div class="box payments">  
            <div class="box-wrapper">
            <h3 class="heading"><i class="avFont avFont-billetera"></i> Facilidades de pago</h3>
            <ul class="logos">
                <li class="visa">Visa</li>
                <li class="mastercard">MasterCard</li>
                <li class="amex">American Express</li>
                <li class="cabal">Cabal</li>
                <li class="diners">Diners Club International</li>
            </ul>

            <ul class="links">
                <li><a itemprop="paymentAccepted" href="http://www.avantrip.com/formas-de-pago" title="Tarjetas de crédito">Ver todos los medios de pago</a></li>
            </ul>
            </div>
        </div>
        <!-- /box -->


        <div class="box secure">
            <div class="box-wrapper">
            <h3 class="heading"><span class="icon-footer seguro"></span>Sitio seguro</h3>
            <ul class="logos seguros">
            <li class="verisign"><a href="https://sealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.avantrip.com&lang=es" target="_blank">Verisign</a></li>
            </ul>
            <a itemprop="taxID" href="https://servicios1.afip.gov.ar/clavefiscal/qr/mobilePublicInfo.aspx?req=e1ttZXRob2Q9Z2V0UHVibGljSW5mb11bcGVyc29uYT0zMzcxMDc0NTE1OV1bdGlwb2RvbWljaWxpbz0wXVtzZWN1ZW5jaWE9MF1bdXJsPWh0dHA6Ly93d3cuYXZhbnRyaXAuY29tXX0=" target="_F960AFIPInfo" class="data-fiscal">Data Fiscal</a>

            <ul class="links" itemscope itemtype="http://schema.org/WebPage">
                <li><a itemprop="relatedLink" href="http://www.avantrip.com/politica-de-privacidad" title="Política de privacidad">Política de privacidad</a></li>
                <li><a itemprop="relatedLink" href="http://www.avantrip.com/seguridad" title="Seguridad">Seguridad</a></li>
                <li><a itemprop="relatedLink" href="http://www.avantrip.com/terminos-y-condiciones" title="Términos y condiciones">Términos y condiciones</a></li>
            </ul>
            </div>
        </div> 
        <!-- /box -->

        
        <div class="box contact-us last">  
            <div class="box-wrapper">
            <h3 class="heading"><span class="icon-footer contacto"></span>Contacto</h3>

            <div class="call-us">
                <p itemprop="telephone" class="phone-number">
                    0810-222-2826                </p>
                <time class="horario" itemprop="openingHours" datetime="Mo-Fri 8:00-20:00,Sa-Su 9:00-15:00">
                    Lun a Vie de 8 a 20hs.<br>
                    Sáb y Dom de 9 a 15hs.
                </time>
            </div>
            <ul class="links" itemscope itemtype="http://schema.org/WebPage">
                <li><a itemprop="relatedLink" href="http://www.avantrip.com/oportunidades/programa-de-afiliados" title="Programa de Afiliados">Programa de Afiliados</a></li>
                <li><a itemprop="relatedLink" href="http://www.avantrip.com/quienes-somos" title="Acerca de Avantrip">Acerca de Avantrip</a></li>
    			<li><a itemprop="relatedLink" href="http://www.avantrip.com/preguntas-frecuentes" title="Preguntas Frecuentes">Preguntas Frecuentes</a></li>
    			
                <!--<li><a id="trabaja-avantrip" href="#" title="Trabajá con nosotros">Trabajá con nosotros</a></li>-->
            </ul>
            </div>
        </div>
        <!-- /box -->

        <div class="bottom clearfix">
            <div class="copyright">
                2008 - 2015 Avantrip.com - Todos los derechos reservados<br/>
                <span itemprop="legalName">Avantrip.com SRL Legajo Nro. 13969 - Disp. 299</span>
            </div>

            <ul class="socials">
                <li class="blog"><a target="_blank" href="http://blog.avantrip.com/" title="Seguí nuestro blog">blog</a></li>
                <li class="facebook"><a target="_blank" href="http://www.facebook.com/avantrip" title="Seguínos en Facebook">Facebook</a></li>
                <li class="twitter"><a target="_blank" href="http://twitter.com/avantrip" title="Seguínos en Twitter">Twitter</a></li>
            </ul>
        </div>
        <!-- / bottom-->

    </div>
</footer>


<script>$(document).ready(function(){$(".ajax").colorbox();});</script>

<!-- chat -->
<!-- begin olark code --><script type='text/javascript'>//<![CDATA[
window.olark||(function(i){var e=window,h=document,a=e.location.protocol=="https:"?"https:":"http:",g=i.name,b="load";(function(){e[g]=function(){(c.s=c.s||[]).push(arguments)};var c=e[g]._={},f=i.methods.length;while(f--){(function(j){e[g][j]=function(){e[g]("call",j,arguments)}})(i.methods[f])}c.l=i.loader;c.i=arguments.callee;c.f=setTimeout(function(){if(c.f){(new Image).src=a+"//"+c.l.replace(".js",".png")+"&"+escape(e.location.href)}c.f=null},20000);c.p={0:+new Date};c.P=function(j){c.p[j]=new Date-c.p[0]};function d(){c.P(b);e[g](b)}e.addEventListener?e.addEventListener(b,d,false):e.attachEvent("on"+b,d);(function(){function l(j){j="head";return["<",j,"></",j,"><",z,' onl'+'oad="var d=',B,";d.getElementsByTagName('head')[0].",y,"(d.",A,"('script')).",u,"='",a,"//",c.l,"'",'"',"></",z,">"].join("")}var z="body",s=h[z];if(!s){return setTimeout(arguments.callee,100)}c.P(1);var y="appendChild",A="createElement",u="src",r=h[A]("div"),G=r[y](h[A](g)),D=h[A]("iframe"),B="document",C="domain",q;r.style.display="none";s.insertBefore(r,s.firstChild).id=g;D.frameBorder="0";D.id=g+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){D.src="javascript:false"}D.allowTransparency="true";G[y](D);try{D.contentWindow[B].open()}catch(F){i[C]=h[C];q="javascript:var d="+B+".open();d.domain='"+h.domain+"';";D[u]=q+"void(0);"}try{var H=D.contentWindow[B];H.write(l());H.close()}catch(E){D[u]=q+'d.write("'+l().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}c.P(2)})()})()})({loader:(function(a){return"static.olark.com/jsclient/loader0.js?ts="+(a?a[1]:(+new Date))})(document.cookie.match(/olarkld=([0-9]+)/)),name:"olark",methods:["configure","extend","declare","identify"]});olark.identify('4074-408-10-6083');
//]]></script>
<!-- end olark code -->

<!-- /footer -->
</div>
<!-- /container -->
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"0758105227","applicationID":"4306272","transactionName":"NQFSbRdYWkFZUUYLXAxLZUsMFl1cXFdKTEMKFA==","queueTime":0,"applicationTime":17,"atts":"GUZRG19CSU8=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-768.min.js"}</script></body>
<script type="text/javascript">jQuery("#continuar").click(function(){document.getElementById('mercado_pago_button').click();});function init(){}
window.onload=init;</script>
</html>
	<script type="text/javascript">jQuery('ul#nav li a').removeClass('active');jQuery(jQuery('ul#nav li a')[1]).addClass('active');var BancoTarjetaArr={"26":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"28":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"29":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"8":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"7":{"6":{"9":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"3":{"coeficiente":1.01,"comercio_propio":1}},"5":{"9":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"3":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"9":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"15":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"10":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"17":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"14":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"16":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"2":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"24":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1},"18":{"coeficiente":1.01,"comercio_propio":1}},"4":null,"9":null,"3":null},"6":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"25":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1},"18":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1}},"4":null,"9":null,"3":null},"4":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"31":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"22":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"18":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1},"18":{"coeficiente":1.01,"comercio_propio":1}},"4":null,"9":null,"3":null},"5":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1},"18":{"coeficiente":1.01,"comercio_propio":1}},"4":null,"9":null,"3":null},"3":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"34":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"12":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"13":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"23":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"1":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1},"18":{"coeficiente":1.01,"comercio_propio":1},"3":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1}},"4":null,"9":null,"3":null},"20":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"21":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"19":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"4":null,"9":null,"3":null},"30":{"6":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"5":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"18":{"coeficiente":1.01,"comercio_propio":1},"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"4":null,"9":null,"3":null},"35":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"27":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":{"6":{"coeficiente":1.01,"comercio_propio":1},"3":{"coeficiente":1.01,"comercio_propio":1}},"1":{"18":{"coeficiente":1.01,"comercio_propio":1},"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":{"3":{"coeficiente":1.01,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"9":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1},"18":{"coeficiente":1.01,"comercio_propio":1}},"9":{"6":{"coeficiente":1.01,"comercio_propio":1},"3":{"coeficiente":1.01,"comercio_propio":1}},"3":{"3":{"coeficiente":1.01,"comercio_propio":1}}},"11":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"32":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null},"1":{"6":{"3":{"coeficiente":1.0868,"comercio_propio":1},"6":{"coeficiente":1.1641,"comercio_propio":1},"9":{"coeficiente":1.2508,"comercio_propio":1},"12":{"coeficiente":1.3331,"comercio_propio":1},"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1}},"5":{"18":{"coeficiente":1.506,"comercio_propio":1},"24":{"coeficiente":1.6897,"comercio_propio":1},"6":{"coeficiente":1.01,"comercio_propio":1},"12":{"coeficiente":1.01,"comercio_propio":1}},"7":null,"1":{"3":{"coeficiente":1.0911,"comercio_propio":1},"6":{"coeficiente":1.1723,"comercio_propio":1},"9":{"coeficiente":1.2579,"comercio_propio":1},"12":{"coeficiente":1.3426,"comercio_propio":1},"18":{"coeficiente":1.5208,"comercio_propio":1},"24":{"coeficiente":1.7104,"comercio_propio":1}},"4":null,"9":null,"3":null}};var vuelo=false;var arrBancos={"26":"Banco Citibank Argentina","28":"Banco Citibank Gold","29":"Banco Citibank Priority","8":"Banco Ciudad","7":"Banco Comafi","9":"Banco CrediCoop","15":"Banco de Corrientes","10":"Banco de Formosa","17":"Banco de la Nacion Argentina","14":"Banco de La Pampa","16":"Banco de la Provincia de Neuquen","2":"Banco Frances BBVA","24":"Banco Galicia","6":"Banco Hipotecario","25":"Banco HSBC Argentina","4":"Banco ICBC","31":"Banco Industrial","22":"Banco Itau","18":"Banco Macro","5":"Banco Patagonia","3":"Banco Provincia","34":"Banco Saenz","12":"Banco San Juan","13":"Banco Santa Cruz","23":"Banco Santander Rio","20":"Banco Supervielle","21":"Banco Supervielle de Cuyo","19":"Banco Tucuman Grupo Macro","30":"Macro Platinum, Black & Signature","35":"Naranja","27":"No Bancaria","11":"Nuevo Banco del Chaco","32":"Provencred","1":"Todos los Bancos"};var arrTarjetas={"1":"AmericanExpress","2":"AmericanExpress (Bancaria)","3":"Cabal","4":"Diners Club","5":"MasterCard","6":"Visa","7":"Cencosud","9":"Naranja"};var totalPrecioARS={{ fecha.precio*pasajeros }};var condiciones=new Array();function cambiarTarjeta(selectTarjeta){var valBanco=jQuery('#banco').get(0).options[jQuery('#banco').get(0).selectedIndex].value;var val=selectTarjeta.options[selectTarjeta.selectedIndex].value;jQuery('#pays').children().each(function(){jQuery(this).remove();});var total={{ fecha.precio*pasajeros }}
if(BancoTarjetaArr[valBanco][val]){$(".leyenda").hide();jQuery('#pays').append('<label class="checked"><input type="radio" name="card[cuotas]" value="1" checked="checked"/>1 cuota de AR$ '+total+'</label>');for(iCard in BancoTarjetaArr[valBanco][val])
{var coeficiente=1;if(BancoTarjetaArr[valBanco][val][iCard]['coeficiente']=='1.01'){coeficiente=1;}else{coeficiente=BancoTarjetaArr[valBanco][val][iCard]['coeficiente'];}
comercio_propio=BancoTarjetaArr[valBanco][val][iCard]['comercio_propio'];if(comercio_propio>0&&vuelo)
{$(".leyenda").show();aclaracion='<span class="mandatory">*</span>';aux_comercio=comercio_propio;if(comercio_propio>1){jQuery('#mensaje-gestion').html('<p class="leyenda"><span class="mandatory">*</span> Cargos de Gestión incluidos</p>');}else{jQuery('#mensaje-gestion').html('<p class="leyenda"><span class="mandatory">*</span> Cargo de Gestión Bonificado</p>');}}
else{aclaracion='';aux_comercio=1;jQuery('#mensaje-gestion').html('');}
jQuery('#pays').append('<label><input type="radio" name="card[cuotas]" value="'+iCard+'"/>'+iCard+' cuotas de AR$ '+Math.ceil(((total*coeficiente)/iCard)*aux_comercio)+' '+aclaracion+'</label>');}}
jQuery('#pays input').bind('change',function(){jQuery('#pays label').removeClass('checked');jQuery(this).parents('label').addClass('checked');recalcularTotales();cambiarCuotas();});recalcularTotales();cambiarCuotas();}
jQuery('#card').change(function(){cambiarTarjeta(this);});jQuery('#banco').change(function(){var val=this.options[this.selectedIndex].value;if(BancoTarjetaArr[val]){objTarjeta=sortByName(arrTarjetas,BancoTarjetaArr[val]);jQuery('#card').children().each(function(){jQuery(this).remove();});for(i in objTarjeta)
{jQuery('#card').append('<option value="'+objTarjeta[i]['id']+'">'+objTarjeta[i]['nombre']+'</option>');}}
cambiarTarjeta(jQuery('#card').get(0));recalcularTotales();cambiarCuotas();});jQuery('#pays input').change(function(){jQuery('#pays label').removeClass('checked');jQuery(this).parents('label').addClass('checked');recalcularTotales();cambiarCuotas();});function sortByName(oldArray,orden){orderArray=new Array();for(i in orden){orderArray[i]=new Array();orderArray[i]['id']=i;orderArray[i]['nombre']=oldArray[i];orderArray[i]['cuotas']=orden[i];}
orderArray.sort(function(a,b){return(a.nombre>b.nombre)?1:-1;});return orderArray;}
function cambiarCuotas(){var cuotas=parseInt(jQuery('#pays :checked').val());var banco=parseInt(jQuery('#banco').val());var tarjeta=parseInt(jQuery('#card').val());if(BancoTarjetaArr[banco][tarjeta][cuotas]){var coeficiente=0;if(BancoTarjetaArr[banco][tarjeta][cuotas]['coeficiente']=='1.01'){coeficiente=1;}else{coeficiente=BancoTarjetaArr[banco][tarjeta][cuotas]['coeficiente'];comercio_propio=BancoTarjetaArr[banco][tarjeta][cuotas]['comercio_propio'];}
if(comercio_propio==0){aux_comercio=1;}
var precioCuota=(((totalPrecioARS*coeficiente))/cuotas)*aux_comercio;precioCuota=Math.ceil(((precioCuota*100)/100));}else{var precioCuota=Math.ceil(totalPrecioARS);}
jQuery('#field-cuota-card').html(precioCuota);recalcularTotales();}
function recalcularTotales(){var cuotas=parseInt(jQuery('#pays :checked').val());var banco=parseInt(jQuery('#banco').val());var tarjeta=parseInt(jQuery('#card').val());var comercio_propio=1;if(BancoTarjetaArr[banco][tarjeta][cuotas])
{var coef=BancoTarjetaArr[banco][tarjeta][cuotas]['coeficiente'];comercio_propio=BancoTarjetaArr[banco][tarjeta][cuotas]['comercio_propio'];}
if(!coef){coef=1;}
if(coef=='1.01'){coef=1;}
var total=(totalPrecioARS*coef);total=(Math.round(total*100)/100);jQuery('#preciototal').html(total);var showableCoef=parseFloat((coef-1)*100);showableCoef=showableCoef.toFixed(2);jQuery('#coef').html(showableCoef);var cuotas=jQuery('#pays :checked').val();jQuery('#cuota-coef').css('display',(cuotas<=1)?'none':'block');jQuery('#cuota-precio').css('display',(cuotas<=1)?'none':'block');}
function initSelectBancos(BancoTarjetaArr){jQuery('#banco').children().each(function(){jQuery(this).remove();});objBanco=sortByName(arrBancos,BancoTarjetaArr)
for(i in objBanco)
{jQuery('#banco').append('<option value="'+objBanco[i]['id']+'">'+objBanco[i]['nombre']+'</option>');}}
$(document).ready(function()
{$('.credit-card-code-help').cluetip({activation:'click',local:false,cursor:'pointer',width:550,arrows:true,positionBy:'bottomTop',topOffset:30,showTitle:false,closePosition:'top',sticky:true,closeText:'Cerrar'});initSelectBancos(BancoTarjetaArr);jQuery('#banco').change();jQuery('#card').change();cambiarCuotas();},jQuery('#card, #banco, #pays').change(function(){}));function correcto(){if(($('form li.credit-card-number').find('img')).length==0){$($('form input[name="card[number]"]').parent('li')).append('<img src="{{ absoluteUrl }}/img/ui/tarjetavalida.png" style="width:20px;float:left;padding-left:5px;" />')}}
function incorrecto(){$($('form li.credit-card-number').find('img')).remove();}
function validarTCNumbers(){var $tipoTarjeta,$numeroTarjeta,$validation;$tipoTarjeta=$('form select[name="card[type]"]').val();$numeroTarjeta=$('form input[name="card[number]"]').val();switch($tipoTarjeta){case'1':$validation=/^([34|37]{2})([0-9]{13})$/;break;case'4':$validation=/^([30|36|38]{2})([0-9]{12})$/;break;case'5':$validation=/^([51|52|53|54|55]{2})([0-9]{14})$/;break;case'6':$validation=/^([4]{1})([0-9]{12,15})$/;break;default:$validation=/^([0-9]{16})$/;break;}
if($validation.test($numeroTarjeta)){correcto();}else{incorrecto();}}
$('form input[name="card[number]"]').keyup(function(){validarTCNumbers();});$('form select[name="card[type]"]').change(function(){validarTCNumbers();});</script>
