{% extends 'base.html.twig' %}

{% block body_id 'paquete_index' %}

{% block main %}
    {% for paquete in paquetes %}
        <div class="paquete">
            <h2>
                <a href="{{ path('paquete_detalle', { id: paquete.id }) }}">
                    {{ paquete.titulo }}
                </a>
            </h2>

            {{ paquete.descripcionLargaTitulo }}
        </div>
    {% else %}
        <div class="well">{{ 'paquete.no_paquetes_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(paquetes) }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
