{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
#}

{{ form_start(form, { attr: attr|default({}) }) }}
    {{ form_row(form.titulo) }}
    {{ form_row(form.descripcionCortaTitulo) }}
    {{ form_row(form.descripcionCortaTexto) }}
    {{ form_row(form.descripcionLargaTitulo) }}
    {{ form_label(form.bullets) }}
    <div class="bulletContainer">
        <div class="bullets" data-prototype="{{ form_widget(form.bullets.vars.prototype)|e }}">
            {% for bullet in form.bullets %}
                <div class="bulletInput">{{ form_row(bullet.texto) }}</div>
            {% endfor %}        
        </div>
    </div>
    {% do form.bullets.setRendered %}
    {{ form_row(form.salidasTitulo) }}
    {{ form_row(form.salidasTexto) }}
    {{ form_row(form.legalesTitulo) }}
    {{ form_row(form.legalesTexto) }}
    {{ form_row(form.validoDesde) }}
    {{ form_row(form.validoHasta) }}
    {{ form_row(form.pasajeros) }}
    {{ form_row(form.moneda) }}
    {{ form_row(form.formaVenta) }}

    <input type="submit" value="{{ button_label|default('label.create_paquete'|trans) }}"
           class="{{ button_css|default("btn btn-primary") }}" />

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('admin_paquete_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}
{{ form_end(form) }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ asset('js/paquete.js') }}"></script>