{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_paquete_new' %}

{% block main %}
    <h1>{{ 'title.paquete_new'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.titulo) }}
        {{ form_row(form.descripcion) }}
        {{ form_row(form.publishedAt) }}

        <input type="submit" value="{{ 'label.create_paquete'|trans }}" class="btn btn-primary" />

        {{ form_widget(form.saveAndCreateNew, { label: 'label.save_and_create_new'|trans, attr: { class: 'btn btn-primary' } }) }}

        <a href="{{ path('admin_paquete_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
